<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.mega.mvcproject02.QnaVO" alias="qnaVO"></typeAlias>
      <typeAlias type="com.mega.mvcproject02.ReplyVO" alias="replyVO"></typeAlias>
      <typeAlias type="com.mega.mvcproject02.FacilityVO" alias="fVO"></typeAlias>
      <typeAlias type="com.mega.mvcproject02.ProductLocationVO" alias="plVO"></typeAlias> 
   </typeAliases>
   <mappers>
      <mapper resource="mapper/qnaMapper.xml" />
      <mapper resource="mapper/replyMapper.xml" />
      <mapper resource="mapper/facilityMapper.xml" /> 
      <mapper resource="mapper/productLocationMapper.xml" /> 
   </mappers>
</configuration>